name: Publish to PyPI

on:
  release:
    types: [ published ]

permissions:
  contents: read

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: python3 -m pip install build

      - name: Build release distributions
        run: python3 -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v6
        with:
          name: release-distributions
          path: dist/

  publish-pypi:
    runs-on: ubuntu-latest

    needs:
      - build-release

    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/asyncusb

    steps:
      - name: Retrieve distributions
        uses: actions/download-artifact@v7
        with:
          name: release-distributions
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e

